<footer class="wrap site-footer clearfix">
    <div class="left">
        <p>Richard A. Myer 820 East Sierra Madre, Glendora CA 91741 p. 626-963-7852 e.
            <a href="mailto:richard@richardmyer.com">richard@richardmyer.com</a>
        </p>
        <p>Copyright &copy;
            {{ site.title }}
            {{ site.time | date: '%Y' }}
            All Rights Reserved.</p>
    </div>
    <div class="right">
        <p>Site by:
            <a href="https://www.variantstudios.com" target="_blank">Variant Studios</a>
        </p>
    </div>

</footer>
