<div class="grid">
    {% for sculpture in site.sculptures %}
	<div class="grid__item" data-size="800x1039">
		<a href="{{sculpture.image_path}}" class="img-wrap"><img src="{{sculpture.image_path}}" alt="img06" />
			<div class="description description--grid">
				<h3>{{sculpture.title}}</h3>
				{% if sculpture.description != null %}<p>{{sculpture.description}}</p>{% endif %}
				{% if sculpture.dimensions != null && if sculpture.sculpture_category != null %}
        <div class="details">
					<ul>
						<li>{{sculpture.dimensions}}</li>
            <li>{{sculpture.sculpture_category}}</li>
					</ul>
				</div>
        {% endif %}
			</div>
		</a>
	</div>
    {% endfor %}
</div>
<div class="preview">
    <button class="action action--close">
        <img src="/assets/images/close.svg" alt="" />
        <!-- <i class="fa fa-times"></i><span class="text-hidden">Close</span> -->
    </button>
    <div class="description description--preview"></div>
</div>

