<div id="filters" class="button-group">
    <button class="btn btn-primary" data-filter="*">Show All</button>
    {% for category in site.sculpture_categories %}
    <button class="btn btn-primary" data-filter=".{{category}}">{{category}}</button>
    {% endfor %}
</div>
<div class="grid" id="sculptures">
    {% for sculpture in site.sculptures %}
	<div class="grid__item {{sculpture.sculpture_category}}" data-size=" {{sculpture.large_image_size}}">
		<a href="{{sculpture.large_image_path}}" class="img-wrap"><img src="{{sculpture.small_image_path}}" alt="{{sculpture.title}} - {{sculpture.large_image_size}}" />
			<div class="description description--grid">
				<h3>{{sculpture.title}}</h3>
				{% if sculpture.description != null %}<p>{{sculpture.description}}</p>{% endif %}
				{% if sculpture.dimensions != null && if sculpture.sculpture_category != null %}
        <div class="details">
					<ul>
						<li>{{sculpture.dimensions}}</li>
            <li>{{sculpture.sculpture_category}}</li>
					</ul>
				</div>
        {% endif %}
			</div>
		</a>
	</div>
    {% endfor %}
</div>
<div class="preview">
    <button class="action action--close">
        <img src="/assets/images/close.svg" alt="" />
        <!-- <i class="fa fa-times"></i><span class="text-hidden">Close</span> -->
    </button>
    <div class="description description--preview"></div>
</div>
