.footer-wrapper {
  //background: $footer-bg;
  @include clearfix;
  padding: 1em 0 .5em 0;
  font-size: .8em;
}
.left {
    text-align: center;
    @include breakpoint($bp-medium, $no-query: '.no-mq') {
        width: 75%;
        float: left;
        text-align: left;
    }
}
.right {
    text-align: center;
    @include breakpoint($bp-medium, $no-query: '.no-mq') {
        width: 20%;
        float: right;
        text-align: right;
    }
}
