---
layout: default
---

<main>
  <div class="preface"><!-- Place somewhere in the <body> of your page -->
    <div class="flexslider">
      <ul class="slides">
        <li>
          <img src="assets/images/slides/slide-1.jpg" />
        </li>
        <li>
          <img src="assets/images/slides/slide-2.jpg" />
        </li>
        <li>
          <img src="assets/images/slides/slide-3.jpg" />
        </li>
        <li>
          <img src="assets/images/slides/slide-4.jpg" />
        </li>
        <!-- items mirrored twice, total of 12 -->
      </ul>
    </div>
  </div>
  <section class="wrap clearfix">
    {{content}}
  </section>
</main>
